@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive, Roboto;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #101010;
    color: #fff;
    padding: 14px;
}

.logo {
    width: 125px;
    margin-right: 100px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    font-size: 2em;
    font-weight: 500;
}

header li:hover {
    animation: scale 300ms both;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 3px red;
    color: red;

}

header i {
    opacity: 0;
}

@keyframes scale {
    to {
        scale: 1.1;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}

main h1 {
    margin: 0 50px;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 3px;
}

label {
    margin-bottom: 50px;
}

.section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

main > h1 {
    color: red;
    font-size: 4em;
}

main h2 {
    color: red;
}

.delivery {
    width: 400px;
}

.lunch-time {
    width: 250px;
}

#cardapio h1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 90vw;
    background-color: #212121;
    border-radius: 42px 0 42px 0;
    padding: 16px;
    color: #fff;
    margin-top: 30px;
}

#cardapio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    width: 90vw;
    border-radius: 42px 0 42px 0;
    padding: 16px;
    margin-bottom: 16px;
}

#cardapio article {
    margin-top: 32px;
    background-color: #FAB260;
    padding: 16px;
    font-size: 2em;
    border-radius: 8px;
    border-radius: 42px 0 42px 0;
}

#cardapio ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}

footer {
    background-color: #212121;
    width: 100%;
    height: 100px;
}


@media screen and (max-width:850px) {

    *, body {
        overflow-x: hidden;
    }

    header {
        justify-content: center;
        position: relative;
    }

    header ul {
        margin-top: 32px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 300px;
        margin: auto;
    }

    header li {
        margin-bottom: 16px;
        background-color: #FAB260;
        border-radius: 16px;
        padding: 16px;
        text-shadow: 1px 1px 3px black;
        box-shadow:  1px 3px 3px red;
    }

    header li:hover {
        animation: none;
        box-shadow:  1px 3px 3px #fff;
    }

    header i {
        opacity: 1;
        animation: slide 2000ms infinite;
    }

    .ph-arrow-circle-up {
        position: absolute;
        bottom: 5px;
        
    }

    @keyframes slide {
        from {
          margin-top: 6px;
        }
      
        to {
          margin-bottom: 6px;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .delivery {
        width: 350px;
        margin-top: 100px;
        margin-bottom: 142px;
    }

    .lunch-time {
        width: 300px;
    }

    main {
        text-align: center;
    }

    .h2 {
        font-size: 1.3em;
    }

    #cardapio article {
        font-size: 1em;
    }

}